@{
    ViewData["Title"] = "ToDoList";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в ToDoList!</h1>
    <p>Здесь вы можете управлять своим списком дел, в том числе обновлять статус дел и их категорию. @* А в перерывах между делами и по их завершении вы можете полюбоваться котиками! <a href="../Views/">~Тык сюда~</a> *@</p>
</div>
